# Editor og systemfiler
.vscode/*
!.vscode/extensions.json
.DS_Store

# Python environment og cache
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data og output
data/
output/

# Tests og logs
*.log
pytest_cache/